* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  /* width: 100vh; */
  /* margin: 0 auto; */
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  position: absolute;
  right: 0;
  top: 20px;
  right: 10px;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: greenyellow;
  border: none;
}
